
@{
    ViewBag.Title = "Index";
}

<h2>Alunos</h2>

<div class="card">
    <div class="card-body">
            <h4>Nome: @Model.Nome</h4>
            <h4>Código: @Model.AlunoID</h4>
    </div>
</div>


